@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  /* font-weight: normal; */
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans Thai";
  src: url("./assets/fonts/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth,wght.ttf")
    format("truetype");
  /* font-weight: normal; */
  font-style: normal;
}

* {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 14px;
  /* font-family: "Noto Sans", sans-serif; */
}

@media (min-width: 1024px) {
  * {
    font-size: 18px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
